<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.inobitec.order.mappers.SessionMapper">

    <resultMap id="Session" type="ru.inobitec.order.model.OrderSessionEntity">
        <result property="id" column="id"/>
        <result property="sessionId" column="SESSION_ID"/>
        <result property="timeoutMinutes" column="TIMEOUT_MINUTES"/>
        <result property="startTime" column="START_TIME"/>
    </resultMap>

    <select id="getAllSessions" resultMap="Session">
        SELECT s.session_id,
               s.start_time,
               s.timeout_minutes
        FROM  sessions s;
    </select>
</mapper>